<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Events</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<h1> Events</h1>
		<div class="container">
		<div class="box">
			<h2>CAS Fair <br> When: October</h2>
			<h4> Students' favourite event where they showcase their cultures and get to celebrate others'</h4>
			<form action="/thanks" method="POST">
				<button type="submit">Attend</button>
			</form>
		</div>
	</div>
		<div class="container">
		<div class="box">
			<h2>Culture Carnival <br> When: November</h2>
			<h4> Students' favourite event where they showcase their cultures and get to celebrate others'</h4>
			<form action="/thanks" method="POST">
				<button type="submit">Attend</button>
			</form>
		</div>
	</div>
		<div class="container">
		<div class="box">
			<h2>Democracy Day<br> When: January</h2>
			<h4> Students' favourite event where they showcase their cultures and get to celebrate others'</h4>
			<form action="/thanks" method="POST">
				<button type="submit">Attend</button>
			</form>
		</div>
	</div>
		<div class="container">
		<div class="box">
			<h2>Environmental Initiatives Day <br> When: February</h2>
			<h4> Students' favourite event where they showcase their cultures and get to celebrate others'</h4>
			<form action="/thanks" method="POST">
				<button type="submit">Attend</button>
			</form>
		</div>
	</div>
		<div class="container">
		<div class="box">
		<h2>DP2 Art Exhibition<br> When: March</h2>
			<h4> Students' favourite event where they showcase their cultures and get to celebrate others'</h4>
			<form action="/thanks" method="POST">
				<button type="submit">Attend</button>
			</form>
		</div>
	</div>
		<div class="container">
		<div class="box">
		<h2>DP2 Art Auction<br> When: March</h2>
			<h4> Students' favourite event where they showcase their cultures and get to celebrate others'</h4>
			<form action="/thanks" method="POST">
				<button type="submit">Attend</button>
			</form>
		</div>
	</div>
		<div class="container">
		<div class="box">
		<h2>DP1 Art Exhibition<br> When: April</h2>
			<h4> Students' favourite event where they showcase their cultures and get to celebrate others'</h4>
			<form action="/thanks" method="POST">
				<button type="submit">Attend</button>
			</form>
		</div>
	</div>
		<div class="container">
		<div class="box">
		<h2>DP2 Graduation<br> When: May</h2>
			<h4> Students' favourite event where they showcase their cultures and get to celebrate others'</h4>
			<form action="/thanks" method="POST">
				<button type="submit">Attend</button>
			</form>
		</div>
	</div>
		<div class="container">
		<div class="box">
		<h2>IB Peace Festival<br> When: June</h2>
			<h4> Students' favourite event where they showcase their cultures and get to celebrate others'</h4>
			<form action="/thanks" method="POST">
				<button type="submit">Attend</button>
			</form>
		</div>
	</div>

	</body>
</html>